/* Table */
.tableau table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 32, 91, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.tableau table thead th {
  background-color: var(--bleu-airfrance);
  color: var(--blanc);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  padding: 15px;
  text-align: center;
}

.tableau table tbody td {
  color: var(--bleu-airfrance);
  font-size: 0.9em;
  border: 1px solid #dddfe1;
  padding: 12px 15px;
  text-align: center;
}

.tableau table tbody tr:nth-child(even) {
  background-color: var(--gris-clair);
}

.tableau table tbody tr:nth-child(odd) {
  background-color: var(--blanc);
}

.tableau table tbody tr:hover {
  background-color: var(--rouge-hop);
  color: var(--blanc);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
